TravelGoodBpel/src/wsdl/travelGoodRPC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelGoodRPC"
    targetNamespace="urn:travelgood.dtu.dk"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:travelgood.dtu.dk"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:ns0="urn:commons.travelgood.dtu.dk"
    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="urn:travelgood.dtu.dk">
            <xsd:import schemaLocation="commonTypes.xsd" namespace="urn:commons.travelgood.dtu.dk"/>
        </xsd:schema>
    </types>
    <message name="createItineraryRequest">
        <part name="userId" type="xsd:string"/>
    </message>
    <message name="createItineraryResponse">
        <part name="bookingNumber" type="xsd:string"/>
    </message>
    <message name="addFlightRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="flightBookingNumber" type="xsd:string"/>
    </message>
    <message name="addFlightResponse">
        <part name="added" type="xsd:boolean"/>
    </message>
    <message name="getFligthsRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="from" type="xsd:string"/>
        <part name="to" type="xsd:string"/>
        <part name="takeOffDate" type="xsd:date"/>
    </message>
    <message name="getFligthsResponse">
        <part name="flights" type="ns0:flightsType"/>
    </message>
    <message name="addHotelRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="hotelBookingNumber" type="xsd:string"/>
    </message>
    <message name="addHotelResponse">
        <part name="added" type="xsd:boolean"/>
    </message>
    <message name="getHotelsRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="city" type="xsd:string"/>
        <part name="arrivalDate" type="xsd:date"/>
    </message>
    <message name="getHotelsResponse">
        <part name="hotels" type="ns0:hotelsType"/>
    </message>
    <message name="bookItineraryRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="creditCard" type="ns0:creditCardType"/>
    </message>
    <message name="bookItineraryResponse">
        <part name="booked" type="xsd:boolean"/>
    </message>
    <message name="cancelItineraryRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="creditCard" element="ns0:creditCard"/>
    </message>
    <message name="cancelItineraryResponse">
        <part name="cancelled" type="xsd:boolean"/>
    </message>
    <portType name="travelGoodRPCPortType">
        <operation name="createItinerary">
            <input name="input1" message="tns:createItineraryRequest"/>
            <output name="output1" message="tns:createItineraryResponse"/>
        </operation>
        <operation name="addFlight">
            <input name="input2" message="tns:addFlightRequest"/>
            <output name="output2" message="tns:addFlightResponse"/>
        </operation>
        <operation name="getFligths">
            <input name="input3" message="tns:getFligthsRequest"/>
            <output name="output3" message="tns:getFligthsResponse"/>
        </operation>
        <operation name="addHotel">
            <input name="input4" message="tns:addHotelRequest"/>
            <output name="output4" message="tns:addHotelResponse"/>
        </operation>
        <operation name="getHotels">
            <input name="input5" message="tns:getHotelsRequest"/>
            <output name="output5" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookItinerary">
            <input name="input6" message="tns:bookItineraryRequest"/>
            <output name="output6" message="tns:bookItineraryResponse"/>
        </operation>
        <operation name="cancelItinerary">
            <input name="input7" message="tns:cancelItineraryRequest"/>
            <output name="output7" message="tns:cancelItineraryResponse"/>
        </operation>
    </portType>
    <binding name="travelGoodRPCBinding" type="tns:travelGoodRPCPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFligths">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addHotel">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal"/>
            </input>
            <output name="output4">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal"/>
            </input>
            <output name="output5">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookItinerary">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal"/>
            </input>
            <output name="output6">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cancelItinerary">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal"/>
            </input>
            <output name="output7">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="travelGoodRPCService">
        <port name="travelGoodRPCPort" binding="tns:travelGoodRPCBinding">
            <soap:address location="http://localhost:12345/travelGoodRPCService/travelGoodRPCPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="travelGoodRPC">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodRPCPortTypeRole" portType="tns:travelGoodRPCPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="bookingNumber" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:bookingNumber" messageType="tns:createItineraryResponse" part="bookingNumber"/>
    <vprop:propertyAlias propertyName="tns:bookingNumber" messageType="tns:addFlightRequest" part="bookingNumber"/>
    <vprop:propertyAlias propertyName="tns:bookingNumber" messageType="tns:getFligthsRequest" part="bookingNumber"/>
    <vprop:propertyAlias propertyName="tns:bookingNumber" messageType="tns:addHotelRequest" part="bookingNumber"/>
    <vprop:propertyAlias propertyName="tns:bookingNumber" messageType="tns:getHotelsRequest" part="bookingNumber"/>
    <vprop:propertyAlias propertyName="tns:bookingNumber" messageType="tns:bookItineraryRequest" part="bookingNumber"/>
    <vprop:propertyAlias propertyName="tns:bookingNumber" messageType="tns:cancelItineraryRequest" part="bookingNumber"/>
</definitions>
