TravelGoodBpel/src/fastmoney.imm.dtu.dk_8080/BankSecureService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn://fastmoney.imm.dtu.dk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn://fastmoney.imm.dtu.dk" name="BankSecureService">
<ns1:Policy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="BankSecurePortBindingPolicy">
<ns1:ExactlyOne>
<ns1:All>

<ns4:SignedSupportingTokens xmlns:ns4="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns4:UsernameToken ns4:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns4:WssUsernameToken10></ns4:WssUsernameToken10>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns4:UsernameToken>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns4:SignedSupportingTokens>
<ns5:SymmetricBinding xmlns:ns5="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns5:AlgorithmSuite>
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns5:Basic128></ns5:Basic128>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns5:AlgorithmSuite>
<ns5:IncludeTimestamp></ns5:IncludeTimestamp>
<ns5:Layout>
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns5:Strict></ns5:Strict>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns5:Layout>
<ns5:OnlySignEntireHeadersAndBody></ns5:OnlySignEntireHeadersAndBody>
<ns5:ProtectionToken>
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns5:X509Token ns5:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns5:WssX509V3Token10></ns5:WssX509V3Token10>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns5:X509Token>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns5:ProtectionToken>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns5:SymmetricBinding>
<ns6:Wss11 xmlns:ns6="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<ns1:Policy>
<ns1:ExactlyOne>
<ns1:All>
<ns6:MustSupportRefEncryptedKey></ns6:MustSupportRefEncryptedKey>
<ns6:MustSupportRefIssuerSerial></ns6:MustSupportRefIssuerSerial>
<ns6:MustSupportRefKeyIdentifier></ns6:MustSupportRefKeyIdentifier>
<ns6:MustSupportRefThumbprint></ns6:MustSupportRefThumbprint>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
</ns6:Wss11>
<ns7:UsingAddressing xmlns:ns7="http://www.w3.org/2006/05/addressing/wsdl"></ns7:UsingAddressing>
</ns1:All>
</ns1:ExactlyOne>
</ns1:Policy>
<ns8:Policy xmlns:ns8="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="BankSecurePortBinding_chargeCreditCard_Input_Policy">
<ns8:ExactlyOne>
<ns8:All>
<ns9:EncryptedParts xmlns:ns9="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<ns9:Body></ns9:Body>
</ns9:EncryptedParts>
<ns10:SignedParts xmlns:ns10="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<ns10:Body></ns10:Body>
<ns10:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"></ns10:Header>
<ns10:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"></ns10:Header>
<ns10:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"></ns10:Header>
<ns10:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"></ns10:Header>
<ns10:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"></ns10:Header>
<ns10:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"></ns10:Header>
<ns10:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"></ns10:Header>
<ns10:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="AckRequested"></ns10:Header>
<ns10:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="Sequence"></ns10:Header>
<ns10:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="SequenceAcknowledgement"></ns10:Header>
</ns10:SignedParts>
</ns8:All>
</ns8:ExactlyOne>
</ns8:Policy>
<ns11:Policy xmlns:ns11="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="BankSecurePortBinding_chargeCreditCard_Output_Policy">
<ns11:ExactlyOne>
<ns11:All>
<ns12:EncryptedParts xmlns:ns12="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<ns12:Body></ns12:Body>
</ns12:EncryptedParts>
<ns13:SignedParts xmlns:ns13="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<ns13:Body></ns13:Body>
<ns13:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"></ns13:Header>
<ns13:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"></ns13:Header>
<ns13:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"></ns13:Header>
<ns13:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"></ns13:Header>
<ns13:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"></ns13:Header>
<ns13:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"></ns13:Header>
<ns13:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"></ns13:Header>
<ns13:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="AckRequested"></ns13:Header>
<ns13:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="Sequence"></ns13:Header>
<ns13:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="SequenceAcknowledgement"></ns13:Header>
</ns13:SignedParts>
</ns11:All>
</ns11:ExactlyOne>
</ns11:Policy>
<types>
<xsd:schema>
<xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankSecureService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="chargeCreditCard">
<part xmlns:ns14="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns14:chargeCreditCard"></part>
</message>
<message name="chargeCreditCardResponse">
<part xmlns:ns15="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns15:chargeCreditCardResponse"></part>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns16="urn://types.fastmoney.imm.dtu.dk" name="fault" element="ns16:CreditCardFault"></part>
</message>
<message name="validateCreditCard">
<part xmlns:ns17="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns17:validateCreditCard"></part>
</message>
<message name="validateCreditCardResponse">
<part xmlns:ns18="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns18:validateCreditCardResponse"></part>
</message>
<message name="refundCreditCard">
<part xmlns:ns19="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns19:refundCreditCard"></part>
</message>
<message name="refundCreditCardResponse">
<part xmlns:ns20="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns20:refundCreditCardResponse"></part>
</message>
<portType name="BankPortType">
<operation name="chargeCreditCard">
<input message="tns:chargeCreditCard"></input>
<output message="tns:chargeCreditCardResponse"></output>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"></fault>
</operation>
<operation name="validateCreditCard">
<input message="tns:validateCreditCard"></input>
<output message="tns:validateCreditCardResponse"></output>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"></fault>
</operation>
<operation name="refundCreditCard">
<input message="tns:refundCreditCard"></input>
<output message="tns:refundCreditCardResponse"></output>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"></fault>
</operation>
</portType>
<binding name="BankSecurePortBinding" type="tns:BankPortType">
<ns21:PolicyReference xmlns:ns21="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BankSecurePortBindingPolicy"></ns21:PolicyReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="chargeCreditCard">
<soap:operation soapAction=""></soap:operation>
<input>
<ns22:PolicyReference xmlns:ns22="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BankSecurePortBinding_chargeCreditCard_Input_Policy"></ns22:PolicyReference>
<soap:body use="literal"></soap:body>
</input>
<output>
<ns23:PolicyReference xmlns:ns23="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BankSecurePortBinding_chargeCreditCard_Output_Policy"></ns23:PolicyReference>
<soap:body use="literal"></soap:body>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"></soap:fault>
</fault>
</operation>
<operation name="validateCreditCard">
<soap:operation soapAction=""></soap:operation>
<input>
<ns24:PolicyReference xmlns:ns24="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BankSecurePortBinding_chargeCreditCard_Input_Policy"></ns24:PolicyReference>
<soap:body use="literal"></soap:body>
</input>
<output>
<ns25:PolicyReference xmlns:ns25="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BankSecurePortBinding_chargeCreditCard_Output_Policy"></ns25:PolicyReference>
<soap:body use="literal"></soap:body>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"></soap:fault>
</fault>
</operation>
<operation name="refundCreditCard">
<soap:operation soapAction=""></soap:operation>
<input>
<ns26:PolicyReference xmlns:ns26="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BankSecurePortBinding_chargeCreditCard_Input_Policy"></ns26:PolicyReference>
<soap:body use="literal"></soap:body>
</input>
<output>
<ns27:PolicyReference xmlns:ns27="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BankSecurePortBinding_chargeCreditCard_Output_Policy"></ns27:PolicyReference>
<soap:body use="literal"></soap:body>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BankSecureService">
<port name="BankSecurePort" binding="tns:BankSecurePortBinding">
<soap:address location="http://fastmoney.imm.dtu.dk:8080/BankSecureService"></soap:address>
</port>
</service>
</definitions>