LameDuckWS/src/conf/xml-resources/web-services/LameDuckWS/wsdl/lameDuckWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    author: Bartosz Grzegorz Cichecki
-->
<definitions name="lameDuckWSDL" targetNamespace="urn:lameduck.dtu.dk"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:lameduck.dtu.dk" xmlns:ct="urn:commons.travelgood.dtu.dk" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn:lameduck.dtu.dk" xmlns:ct="urn:commons.travelgood.dtu.dk">
            <xsd:import namespace="urn:commons.travelgood.dtu.dk" schemaLocation="commonTypes.xsd"/>
            <xsd:element name="getFlightsRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="from" type="xsd:long"></xsd:element>
                        <xsd:element name="to" type="xsd:long"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getFlightsResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="flights" type="ct:flightsType"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="getFlightsRequestPart" element="tns:getFlightsRequest"/>
    </message>
    <message name="getFlightsResponse">
        <part name="getFlightsResponsePart" element="tns:getFlightsResponse"/>
    </message>
    <portType name="lameDuckPortType">
        <operation name="getFlights">
            <input name="getFlightsInput" message="tns:getFlightsRequest"/>
            <output name="getFlightsOutput" message="tns:getFlightsResponse"/>
        </operation>
    </portType>
    <binding name="lameDuckPortTypeBinding" type="tns:lameDuckPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="getFlightsInput">
                <soap:body use="literal"/>
            </input>
            <output name="getFlightsOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="lameDuckService">
        <port name="lameDuckPort" binding="tns:lameDuckPortTypeBinding">
            <soap:address location="http://localhost:8080/lameDuckService/lameDuckPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="lameDuckWSDL">
        <plnk:role name="lameDuckPortTypeRole" portType="tns:lameDuckPortType"/>
    </plnk:partnerLinkType>
</definitions>
