LameDuckWS/src/conf/xml-resources/web-services/LameDuckWS/wsdl/lameDuck.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    author: Bartosz Grzegorz Cichecki
-->
<definitions name="lameDuckWSDL" targetNamespace="urn:lameduck.dtu.dk"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:lameduck.dtu.dk" xmlns:ct="urn:commons.travelgood.dtu.dk" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn:lameduck.dtu.dk" xmlns:ct="urn:commons.travelgood.dtu.dk">
            <xsd:import namespace="urn:commons.travelgood.dtu.dk" schemaLocation="commonTypes.xsd"/>
            <xsd:element name="getFlightsRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="from" type="xsd:string"></xsd:element>
                        <xsd:element name="to" type="xsd:string"></xsd:element>
                        <xsd:element name="takeOffDate" type="xsd:date"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getFlightsResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="flights" type="ct:flightsType"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookFlightRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                        <xsd:element name="creditCard" type="ct:creditCardType"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookFlightResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="booked" type="xsd:boolean"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookFlightFault">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                        <xsd:element name="reason" type="xsd:string"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelReservationRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                        <xsd:element name="creditCard" type="ct:creditCardType"></xsd:element>
                        <xsd:element name="price" type="xsd:int"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelReservationResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="canceled" type="xsd:boolean"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelReservationFault">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                        <xsd:element name="reason" type="xsd:string"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="getFlightsRequestPart" element="tns:getFlightsRequest"/>
    </message>
    <message name="getFlightsResponse">
        <part name="getFlightsResponsePart" element="tns:getFlightsResponse"/>
    </message>
    <message name="bookFlightRequest">
        <part name="bookFlightRequestPart" element="tns:bookFlightRequest"/>
    </message>
    <message name="bookFlightResponse">
        <part name="bookFlightResponsePart" element="tns:bookFlightResponse"/>
    </message>
    <message name="bookFlightFault">
        <part name="bookFlightFaultPart" element="tns:bookFlightFault"/>
    </message>
    <message name="cancelReservationRequest">
        <part name="cancelReservationRequestPart" element="tns:cancelReservationRequest"/>
    </message>
    <message name="cancelReservationResponse">
        <part name="cancelReservationResponsePart" element="tns:cancelReservationResponse"/>
    </message>
    <message name="cancelReservationFault">
        <part name="cancelReservationFault" element="tns:cancelReservationFault"/>
    </message>
    <portType name="lameDuckPortType">
        <operation name="getFlights">
            <input name="getFlightsInput" message="tns:getFlightsRequest"/>
            <output name="getFlightsOutput" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="bookFlightInput" message="tns:bookFlightRequest"/>
            <output name="bookFlightOutput" message="tns:bookFlightResponse"/>
            <fault name="bookFlightFault" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelReservation">
            <input name="cancelReservationInput" message="tns:cancelReservationRequest"/>
            <output name="cancelReservationOutput" message="tns:cancelReservationResponse"/>
            <fault name="cancelReservationFault" message="tns:cancelReservationFault"/>
        </operation>
    </portType>
    <binding name="lameDuckPortTypeBinding" type="tns:lameDuckPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="getFlightsInput">
                <soap:body use="literal"/>
            </input>
            <output name="getFlightsOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="bookFlightInput">
                <soap:body use="literal"/>
            </input>
            <output name="bookFlightOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="bookFlightFault">
                <soap:fault name="bookFlightFault" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelReservation">
            <input name="cancelReservationInput">
                <soap:body use="literal"/>
            </input>
            <output name="cancelReservationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelReservationFault">
                <soap:fault name="cancelReservationFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="lameDuckService">
        <port name="lameDuckPort" binding="tns:lameDuckPortTypeBinding">
            <soap:address location="http://localhost:8080/lameDuckService/lameDuckPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="lameDuckWSDL">
        <plnk:role name="lameDuckPortTypeRole" portType="tns:lameDuckPortType"/>
    </plnk:partnerLinkType>
</definitions>
