trunk/TraveGoodApp/src/jbiServiceUnits/TravelGoodBpel/localhost_8080/niceview/niceViewService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!--
    author: Bartosz Grzegorz Cichecki
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:commons.travelgood.dtu.dk" targetNamespace="urn:commons.travelgood.dtu.dk" elementFormDefault="qualified">
<xsd:complexType name="flightType">
        <xsd:all>
            <xsd:element name="id" type="xsd:string"></xsd:element>
            <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
            <xsd:element name="carrier" type="xsd:string"></xsd:element>
            <xsd:element name="from" type="xsd:string"></xsd:element>
            <xsd:element name="to" type="xsd:string"></xsd:element>
            <xsd:element name="liftOffDate" type="xsd:date"></xsd:element>
            <xsd:element name="landingDate" type="xsd:date"></xsd:element>
            <xsd:element name="price" type="xsd:int"></xsd:element>
            <xsd:element name="bookingState" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="IN_PROGRESS"/>
                        <xsd:enumeration value="BOOKED"/>
                        <xsd:enumeration value="CANCELLED"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="addressType">
        <xsd:all>
            <xsd:element name="city" type="xsd:string"></xsd:element>
            <xsd:element name="street" type="xsd:string"></xsd:element>
            <xsd:element name="zipCode" type="xsd:string"></xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="hotelType">
        <xsd:all>
            <xsd:element name="id" type="xsd:string"></xsd:element>
            <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="address" type="tns:addressType"></xsd:element>
            <xsd:element name="provider" type="xsd:string"></xsd:element>
            <xsd:element name="price" type="xsd:int"></xsd:element>
            <xsd:element name="creditCardGuarantee" type="xsd:boolean"></xsd:element>
            <xsd:element name="arrivalDate" type="xsd:date"/>
            <xsd:element name="departureDate" type="xsd:date"/>
            <xsd:element name="bookingState" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="IN_PROGRESS"/>
                        <xsd:enumeration value="BOOKED"/>
                        <xsd:enumeration value="CANCELLED"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="flightsType">
        <xsd:sequence>
            <xsd:element name="flight" type="tns:flightType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotelsType">
        <xsd:sequence>
            <xsd:element name="hotel" type="tns:hotelType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="itineraryType">
        <xsd:all>
            <xsd:element name="id" type="xsd:string"></xsd:element>
            <xsd:element name="flights" type="tns:flightsType"></xsd:element>
            <xsd:element name="hotels" type="tns:hotelsType"></xsd:element>
            <xsd:element name="finalPrice" type="xsd:int"></xsd:element>
            <xsd:element name="paymentStatus">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="PENDING"/>
                        <xsd:enumeration value="IN_PROGRESS"/>
                        <xsd:enumeration value="CANCELLED"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="bookingState">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="IN_PROGRESS"/>
                        <xsd:enumeration value="BOOKED"/>
                        <xsd:enumeration value="CANCELLED"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="creditCardType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="number" type="xsd:string"></xsd:element>
            <xsd:element name="expMonth" type="xsd:int"></xsd:element>
            <xsd:element name="expYear" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="flight" type="tns:flightType"></xsd:element>
    <xsd:element name="hotel" type="tns:hotelType"></xsd:element>
    <xsd:element name="creditCard" type="tns:creditCardType"></xsd:element>
</xsd:schema>