trunk/TravelGoodTests/xml-resources/web-service-references/lameDuckService/wsdl/localhost_8080/lameduck/lameDuckService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!--
    author: Bartosz Grzegorz Cichecki
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:commons.travelgood.dtu.dk" targetNamespace="urn:commons.travelgood.dtu.dk" elementFormDefault="qualified">
    <xsd:complexType name="flightType">
        <xsd:all>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="from" type="xsd:string"/>
            <xsd:element name="to" type="xsd:string"/>
            <xsd:element name="timestamp" type="xsd:long"/>
            <xsd:element name="placesLeft" type="xsd:int"/>
            <xsd:element name="price" type="xsd:int"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="hotelType">
        <xsd:all>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="location" type="xsd:string"/>
            <xsd:element name="pricePerDay" type="xsd:int"/>
            <xsd:element name="from" type="xsd:date"/>
            <xsd:element name="to" type="xsd:date"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="flightsType">
        <xsd:sequence>
            <xsd:element name="flight" type="tns:flightType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotelsType">
        <xsd:sequence>
            <xsd:element name="hotel" type="tns:hotelType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="itineraryType">
        <xsd:all>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="flights" type="tns:flightsType"/>
            <xsd:element name="hotels" type="tns:hotelsType"/>
            <xsd:element name="finalPrice" type="xsd:int"/>
            <xsd:element name="paymentStatus">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="PENDING"/>
                        <xsd:enumeration value="IN_PROGRESS"/>
                        <xsd:enumeration value="CANCELLED"/>
                        <xsd:enumeration value="FAILED"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="itineraryState">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="BOOKED"/>
                        <xsd:enumeration value="PAYED"/>
                        <xsd:enumeration value="CANCELLED"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="flight" type="tns:flightType"/>
    <xsd:element name="hotel" type="tns:hotelType"/>
</xsd:schema>