trunk/TravelGoodTests/xml-resources/web-service-references/travelGoodBpel/wsdl/travelGoodBpel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelGoodWSDL" targetNamespace="urn:travelgood.dtu.dk" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:travelgood.dtu.dk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ct="urn:commons.travelgood.dtu.dk">
  <types>
    <xsd:schema targetNamespace="urn:travelgood.dtu.dk">
            <xsd:import namespace="urn:commons.travelgood.dtu.dk" schemaLocation="http://localhost:8085/TraveGoodApp-sun-http-binding/TravelGoodBpel/commonTypes.xsd"/>
            <xsd:element name="createItineraryRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="userId" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createItineraryResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getItineraryRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getItineraryResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="itinerary" type="ct:itineraryType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addFlightRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="flight" type="ct:flightType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addFlightResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="added" type="xsd:boolean"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getFlightsRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="from" type="xsd:string"/>
                        <xsd:element name="to" type="xsd:string"/>
                        <xsd:element name="takeOffDate" type="xsd:date"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getFlightsResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="flights" type="ct:flightsType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addHotelRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="hotel" type="ct:hotelType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addHotelResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="added" type="xsd:boolean"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getHotelsRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="city" type="xsd:string"/>
                        <xsd:element name="arrivalDate" type="xsd:date"/>
                        <xsd:element name="departureDate" type="xsd:date"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getHotelsResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="hotels" type="ct:hotelsType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookItineraryRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="creditCard" type="ct:creditCardType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookItineraryResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="booked" type="xsd:boolean"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookItineraryFault">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="reason" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelItineraryRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="creditCard" type="ct:creditCardType"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelItineraryResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="canceled" type="xsd:boolean"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelItineraryFault">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="reason" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
  </types>
  <message name="addFlightResponse">
    <part name="addFlightResponsePart" element="tns:addFlightResponse">
    </part>
  </message>
  <message name="bookItineraryFault">
    <part name="bookItineraryFaultPart" element="tns:bookItineraryFault">
    </part>
  </message>
  <message name="createItineraryRequest">
    <part name="createItineraryRequestPart" element="tns:createItineraryRequest">
    </part>
  </message>
  <message name="addHotelResponse">
    <part name="addHotelResponsePart" element="tns:addHotelResponse">
    </part>
  </message>
  <message name="getItineraryRequest">
    <part name="getItineraryRequestPart" element="tns:getItineraryRequest">
    </part>
  </message>
  <message name="cancelItineraryRequest">
    <part name="cancelItineraryRequestPart" element="tns:cancelItineraryRequest">
    </part>
  </message>
  <message name="addHotelRequest">
    <part name="addHotelRequestPart" element="tns:addHotelRequest">
    </part>
  </message>
  <message name="getHotelsResponse">
    <part name="getHotelsResponsePart" element="tns:getHotelsResponse">
    </part>
  </message>
  <message name="getFlightsResponse">
    <part name="getFlightsResponsePart" element="tns:getFlightsResponse">
    </part>
  </message>
  <message name="addFlightRequest">
    <part name="addFlightRequestPart" element="tns:addFlightRequest">
    </part>
  </message>
  <message name="cancelItineraryResponse">
    <part name="cancelItineraryResponsePart" element="tns:cancelItineraryResponse">
    </part>
  </message>
  <message name="getItineraryResponse">
    <part name="getItineraryResponsePart" element="tns:getItineraryResponse">
    </part>
  </message>
  <message name="createItineraryResponse">
    <part name="createItineraryResponsePart" element="tns:createItineraryResponse">
    </part>
  </message>
  <message name="getHotelsRequest">
    <part name="getHotelsRequestPart" element="tns:getHotelsRequest">
    </part>
  </message>
  <message name="cancelItineraryFault">
    <part name="cancelItineraryFaultPart" element="tns:cancelItineraryFault">
    </part>
  </message>
  <message name="bookItineraryResponse">
    <part name="bookItineraryResponsePart" element="tns:bookItineraryResponse">
    </part>
  </message>
  <message name="getFlightsRequest">
    <part name="getFlightsRequestPart" element="tns:getFlightsRequest">
    </part>
  </message>
  <message name="bookItineraryRequest">
    <part name="bookItineraryRequestPart" element="tns:bookItineraryRequest">
    </part>
  </message>
  <portType name="travelGoodPortType">
    <operation name="createItinerary">
      <input name="createItineraryInput" message="tns:createItineraryRequest">
    </input>
      <output name="createItineraryOutput" message="tns:createItineraryResponse">
    </output>
    </operation>
    <operation name="addFlight">
      <input name="addFlightInput" message="tns:addFlightRequest">
    </input>
      <output name="addFlightOutput" message="tns:addFlightResponse">
    </output>
    </operation>
    <operation name="getFlights">
      <input name="getFlightsInput" message="tns:getFlightsRequest">
    </input>
      <output name="getFlightsOutput" message="tns:getFlightsResponse">
    </output>
    </operation>
    <operation name="addHotel">
      <input name="addHotelInput" message="tns:addHotelRequest">
    </input>
      <output name="addHotelOutput" message="tns:addHotelResponse">
    </output>
    </operation>
    <operation name="getHotels">
      <input name="getHotelsInput" message="tns:getHotelsRequest">
    </input>
      <output name="getHotelsOutput" message="tns:getHotelsResponse">
    </output>
    </operation>
    <operation name="bookItinerary">
      <input name="bookItineraryInput" message="tns:bookItineraryRequest">
    </input>
      <output name="bookItineraryOutput" message="tns:bookItineraryResponse">
    </output>
      <fault name="bookItineraryFault" message="tns:bookItineraryFault">
    </fault>
    </operation>
    <operation name="cancelItinerary">
      <input name="cancelItineraryInput" message="tns:cancelItineraryRequest">
    </input>
      <output name="cancelItineraryOutput" message="tns:cancelItineraryResponse">
    </output>
      <fault name="cancelItineraryFault" message="tns:cancelItineraryFault">
    </fault>
    </operation>
    <operation name="getItinerary">
      <input name="getItineraryInput" message="tns:getItineraryRequest">
    </input>
      <output name="getItineraryOutput" message="tns:getItineraryResponse">
    </output>
    </operation>
  </portType>
  <binding name="travelGoodPortTypeBinding" type="tns:travelGoodPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createItinerary">
      <soap:operation/>
      <input name="createItineraryInput">
        <soap:body use="literal"/>
      </input>
      <output name="createItineraryOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addFlight">
      <soap:operation/>
      <input name="addFlightInput">
        <soap:body use="literal"/>
      </input>
      <output name="addFlightOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFlights">
      <soap:operation/>
      <input name="getFlightsInput">
        <soap:body use="literal"/>
      </input>
      <output name="getFlightsOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addHotel">
      <soap:operation/>
      <input name="addHotelInput">
        <soap:body use="literal"/>
      </input>
      <output name="addHotelOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getHotels">
      <soap:operation/>
      <input name="getHotelsInput">
        <soap:body use="literal"/>
      </input>
      <output name="getHotelsOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookItinerary">
      <soap:operation/>
      <input name="bookItineraryInput">
        <soap:body use="literal"/>
      </input>
      <output name="bookItineraryOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="bookItineraryFault">
        <soap:fault name="bookItineraryFault" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelItinerary">
      <soap:operation/>
      <input name="cancelItineraryInput">
        <soap:body use="literal"/>
      </input>
      <output name="cancelItineraryOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="cancelItineraryFault">
        <soap:fault name="cancelItineraryFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getItinerary">
      <soap:operation/>
      <input name="getItineraryInput">
        <soap:body use="literal"/>
      </input>
      <output name="getItineraryOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="travelGoodService">
    <port name="travelGoodPortTypeBindingPort" binding="tns:travelGoodPortTypeBinding">
      <soap:address location="http://localhost:8085/travelGoodBpelService"/>
    </port>
  </service>
    <plnk:partnerLinkType name="travelGoodWSDL">
        <plnk:role name="travelGoodPortTypeRole" portType="tns:travelGoodPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="bookingNumber" type="xsd:string"/>
    <vprop:propertyAlias messageType="tns:createItineraryResponse" part="createItineraryResponsePart" propertyName="tns:bookingNumber">
        <vprop:query>bookingNumber</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:addFlightRequest" part="addFlightRequestPart" propertyName="tns:bookingNumber">
        <vprop:query>bookingNumber</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:addHotelRequest" part="addHotelRequestPart" propertyName="tns:bookingNumber">
        <vprop:query>bookingNumber</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:getFlightsRequest" part="getFlightsRequestPart" propertyName="tns:bookingNumber">
        <vprop:query>bookingNumber</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:getHotelsRequest" part="getHotelsRequestPart" propertyName="tns:bookingNumber">
        <vprop:query>bookingNumber</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:bookItineraryRequest" part="bookItineraryRequestPart" propertyName="tns:bookingNumber">
        <vprop:query>bookingNumber</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:cancelItineraryRequest" part="cancelItineraryRequestPart" propertyName="tns:bookingNumber">
        <vprop:query>bookingNumber</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:getItineraryRequest" part="getItineraryRequestPart" propertyName="tns:bookingNumber">
        <vprop:query>bookingNumber</vprop:query>
    </vprop:propertyAlias>
</definitions>
