trunk/TravelGoodTests/src/META-INF/wsdl/travelGoodPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelGoodRPC" targetNamespace="urn:travelgood.dtu.dk" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:travelgood.dtu.dk" xmlns:ns0="urn:commons.travelgood.dtu.dk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="urn:travelgood.dtu.dk">
            <xsd:import namespace="urn:commons.travelgood.dtu.dk" schemaLocation="http://localhost:12345/TravelGoodCompositeApplication-sun-http-binding/TravelGoodBpel/wsdl/commonTypes.xsd"/>
        </xsd:schema>
  </types>
  <message name="getFligthsResponse">
    <part name="flights" type="ns0:flightsType">
    </part>
  </message>
  <message name="addFlightResponse">
    <part name="added" type="xsd:boolean">
    </part>
  </message>
  <message name="createItineraryRequest">
    <part name="userId" type="xsd:string">
    </part>
  </message>
  <message name="addHotelResponse">
    <part name="added" type="xsd:boolean">
    </part>
  </message>
  <message name="cancelItineraryRequest">
    <part name="bookingNumber" type="xsd:string">
    </part>
    <part name="creditCard" element="ns0:creditCard">
    </part>
  </message>
  <message name="addHotelRequest">
    <part name="bookingNumber" type="xsd:string">
    </part>
    <part name="hotelBookingNumber" type="xsd:string">
    </part>
  </message>
  <message name="getFligthsRequest">
    <part name="bookingNumber" type="xsd:string">
    </part>
    <part name="from" type="xsd:string">
    </part>
    <part name="to" type="xsd:string">
    </part>
    <part name="takeOffDate" type="xsd:date">
    </part>
  </message>
  <message name="getHotelsResponse">
    <part name="hotels" type="ns0:hotelsType">
    </part>
  </message>
  <message name="addFlightRequest">
    <part name="bookingNumber" type="xsd:string">
    </part>
    <part name="flightBookingNumber" type="xsd:string">
    </part>
  </message>
  <message name="cancelItineraryResponse">
    <part name="cancelled" type="xsd:boolean">
    </part>
  </message>
  <message name="createItineraryResponse">
    <part name="bookingNumber" type="xsd:string">
    </part>
  </message>
  <message name="getHotelsRequest">
    <part name="bookingNumber" type="xsd:string">
    </part>
    <part name="city" type="xsd:string">
    </part>
    <part name="arrivalDate" type="xsd:date">
    </part>
  </message>
  <message name="bookItineraryResponse">
    <part name="booked" type="xsd:boolean">
    </part>
  </message>
  <message name="bookItineraryRequest">
    <part name="bookingNumber" type="xsd:string">
    </part>
    <part name="creditCard" type="ns0:creditCardType">
    </part>
  </message>
  <portType name="travelGoodRPCPortType">
    <operation name="createItinerary">
      <input name="input1" message="tns:createItineraryRequest">
    </input>
      <output name="output1" message="tns:createItineraryResponse">
    </output>
    </operation>
    <operation name="addFlight">
      <input name="input2" message="tns:addFlightRequest">
    </input>
      <output name="output2" message="tns:addFlightResponse">
    </output>
    </operation>
    <operation name="getFligths">
      <input name="input3" message="tns:getFligthsRequest">
    </input>
      <output name="output3" message="tns:getFligthsResponse">
    </output>
    </operation>
    <operation name="addHotel">
      <input name="input4" message="tns:addHotelRequest">
    </input>
      <output name="output4" message="tns:addHotelResponse">
    </output>
    </operation>
    <operation name="getHotels">
      <input name="input5" message="tns:getHotelsRequest">
    </input>
      <output name="output5" message="tns:getHotelsResponse">
    </output>
    </operation>
    <operation name="bookItinerary">
      <input name="input6" message="tns:bookItineraryRequest">
    </input>
      <output name="output6" message="tns:bookItineraryResponse">
    </output>
    </operation>
    <operation name="cancelItinerary">
      <input name="input7" message="tns:cancelItineraryRequest">
    </input>
      <output name="output7" message="tns:cancelItineraryResponse">
    </output>
    </operation>
  </portType>
  <binding name="travelGoodRPCBinding" type="tns:travelGoodRPCPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createItinerary">
      <soap:operation/>
      <input name="input1">
        <soap:body use="literal"/>
      </input>
      <output name="output1">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addFlight">
      <soap:operation/>
      <input name="input2">
        <soap:body use="literal"/>
      </input>
      <output name="output2">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFligths">
      <soap:operation/>
      <input name="input3">
        <soap:body use="literal"/>
      </input>
      <output name="output3">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addHotel">
      <soap:operation/>
      <input name="input4">
        <soap:body use="literal"/>
      </input>
      <output name="output4">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getHotels">
      <soap:operation/>
      <input name="input5">
        <soap:body use="literal"/>
      </input>
      <output name="output5">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookItinerary">
      <soap:operation/>
      <input name="input6">
        <soap:body use="literal"/>
      </input>
      <output name="output6">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelItinerary">
      <soap:operation/>
      <input name="input7">
        <soap:body use="literal"/>
      </input>
      <output name="output7">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="travelGoodRPCService">
    <port name="travelGoodRPCPort" binding="tns:travelGoodRPCBinding">
      <soap:address location="http://localhost:12345/travelGoodRPCService/travelGoodRPCPort"/>
    </port>
  </service>
    <plnk:partnerLinkType name="travelGoodRPC">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodRPCPortTypeRole" portType="tns:travelGoodRPCPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="bookingNumber" type="xsd:string"/>
    <vprop:propertyAlias messageType="tns:createItineraryResponse" part="bookingNumber" propertyName="tns:bookingNumber"/>
    <vprop:propertyAlias messageType="tns:addFlightRequest" part="bookingNumber" propertyName="tns:bookingNumber"/>
    <vprop:propertyAlias messageType="tns:getFligthsRequest" part="bookingNumber" propertyName="tns:bookingNumber"/>
    <vprop:propertyAlias messageType="tns:addHotelRequest" part="bookingNumber" propertyName="tns:bookingNumber"/>
    <vprop:propertyAlias messageType="tns:getHotelsRequest" part="bookingNumber" propertyName="tns:bookingNumber"/>
    <vprop:propertyAlias messageType="tns:bookItineraryRequest" part="bookingNumber" propertyName="tns:bookingNumber"/>
    <vprop:propertyAlias messageType="tns:cancelItineraryRequest" part="bookingNumber" propertyName="tns:bookingNumber"/>
</definitions>
