trunk/NiceViewWS/src/conf/xml-resources/web-services/NiceViewWS/wsdl/niceViewWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="niceViewWSDL" targetNamespace="urn:niceview.dtu.dk"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:niceview.dtu.dk" xmlns:ct="urn:commons.travelgood.dtu.dk" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn:niceview.dtu.dk" xmlns:ct="urn:commons.travelgood.dtu.dk">
            <xsd:import namespace="urn:commons.travelgood.dtu.dk" schemaLocation="commonTypes.xsd"/>
            <xsd:element name="bookHotelResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookID" type="xsd:int"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookHotelRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"></xsd:element>
                        <xsd:element name="startDate" type="xsd:date"></xsd:element>
                        <xsd:element name="endDate" type="xsd:date"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelHotelRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookID" type="xsd:int"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getHotelRequest">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="location" type="xsd:string"></xsd:element>
                        <xsd:element name="name" type="xsd:string"></xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getHotelResponse">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element ref="ct:hotel"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelHotelResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="bookHotelRequest">
        <part name="bookHotelRequestPart" element="tns:bookHotelRequest"/>
    </message>
    <message name="bookHotelResponse">
        <part name="bookHotelResponsePart" element="tns:bookHotelResponse"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="part1" element="tns:cancelHotelRequest"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="part1" element="tns:cancelHotelResponse"/>
    </message>
    <message name="getHotelRequest">
        <part name="part1" element="tns:getHotelRequest"/>
    </message>
    <message name="getHotelResponse">
        <part name="part1" element="tns:getHotelResponse"/>
    </message>
    <portType name="niceViewPortType">
        <operation name="bookHotel">
            <input name="bookHotelInput" message="tns:bookHotelRequest"/>
            <output name="bookHotelOutput" message="tns:bookHotelResponse"/>
        </operation>
        <operation name="cancelHotel">
            <input name="cancelHotelInput" message="tns:cancelHotelRequest"/>
            <output name="cancelHotelOutput" message="tns:cancelHotelResponse"/>
        </operation>
        <operation name="getHotel">
            <input name="getHotelInput" message="tns:getHotelRequest"/>
            <output name="getHotelOutput" message="tns:getHotelResponse"/>
        </operation>
    </portType>
    <binding name="niceViewPortTypeBinding" type="tns:niceViewPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="bookHotelInput">
                <soap:body use="literal"/>
            </input>
            <output name="bookHotelOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="cancelHotelInput">
                <soap:body use="literal"/>
            </input>
            <output name="cancelHotelOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHotel">
            <soap:operation/>
            <input name="getHotelInput">
                <soap:body use="literal"/>
            </input>
            <output name="getHotelOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="niceViewService">
        <port name="niceViewPortTypeBindingPort" binding="tns:niceViewPortTypeBinding">
            <soap:address location="http://localhost:8080/niceViewService/niceViewPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="niceViewWSDL">
        <plnk:role name="niceViewPortTypeRole" portType="tns:niceViewPortType"/>
    </plnk:partnerLinkType>
</definitions>
